# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example
.env.local
.env.*.local

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db